<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <meta charset="utf-8">
    <title>+SukaDiary</title>
    <script src="/send_url.js"></script>
  </head>
  <body>

    <header>
      <div class="header-logo">
        <a href="/">+SukaDiary</a>
      </div>
      <div class="header-list">
        <ul>
          <li>
            <a href="/intro">About</a>
          </li>
          <li>
            <a href="https://twitter.com/skirplus" target="_blank">Twitter</a>
          </li>
          <li>
            <a href="https://www.pixiv.net/users/18393576" target="_blank">Pixiv</a>
          </li>
          <li>
            <a href="https://plusmash.tumblr.com/" target="_blank">Tumblr</a>
          </li>
        </ul>
      </div><!-- header-list -->
      <div class="clear"></div>
    <div class="header-word">
      <p>イラストやらを載せながら、webサイト制作を学ぶべく用意したホームページ</p>
    </div>
    </header>

    <div class="first">
      <h2>はじめに</h2>
      <div class="first-one">
        <ul>
          <li>
            <img src="images/icon.png" width="300px">
          </li>
          <li class="introduction">
            <h3>
              <p>おなまえ：すか</p>
              <p>最近やっていること：イラスト, Web開発のお勉強, ランニング</p>
              <p>好きな食べもの：するめいか</p>
            </h3>
          </li>
        </ul>
        <div class = clear></div>
      </div>
    </div><!-- first -->


  </body>
</html>
