body{
  width: auto;
  background-color: #e6e6fa;
}

header{
  background-color: #02ccba;
  width: 100%;
  height: auto;
}

li{
  list-style: none;
}

a {
  color:inherit;/*クリック後の色が変わらなくなった*/
  text-decoration: none;/*下線を消す*/
}

a:hover {
  text-decoration: underline;
  transition: all 0.3s ease;
}

.header-logo {
  float:left;
  font-size:  30px;
  padding: 20px 30px 10px 30px;
  font-weight: bold;
  color: white;
}

.header-list li{
  display: inline-block;
  float: left;
  color: white;
  padding: 40px 30px 0px 30px;
}

.clear{
  clear: left;
}
/*はじめに twitter pixiv tumblrの項目に高さを持たせることができた！！！*/

.header-list a{
  color:white;
}

.header-word {
  padding-left: 30px;
  padding-bottom: 5px;
  color: white;
  background-color: #02ccba;
}

/*
.wrapper{
  background-color: yellow;
  width: 100%;
  height: 500px;
  margin-top: 30px;
  border-top: 1px solid #333;
}
*/

/* ------------intro.ejs---------------- */

.first{
  height: auto;
  width: 100%;
  padding-bottom: 30px;
  /*width:100%にすると右枠がちょっとはみ出てしまう*/
  background-color: rgb(245,245,245);
}

.first h2{
  color: #02ccba;
  padding-left: 20px;
  padding-top: 10px;
}

.first li{
  float: left;
  margin-right: 30px;
}

.first .introduction{
  padding-top: 100px;
}

/* ------------Artworks--------------- */

.illust {
  height: auto;
  padding-top: 10px;
  margin-top: 30px;
  /*border-top: 1px solid #333; */
  background-color: rgb(245,245,245);
}

.illust h2{
  padding-left: 30px;
  color: #02ccba;
}

/* ---testart--- */
.testart{
  background-color: yellow;
  height:auto
}

.testart li{
  float: left;
}

.testart img{
  height: 300px;
  padding-right: 15px;
  padding-bottom: 5px;
}
